body{
    overflow: hidden;
    background-color: thistle;

}

#container {
    display:flex;
    justify-content:center;
    align-content: flex-start;
}

button {
    background-color: whitesmoke;
    border: 0.1rem dotted black;
    border-radius: 3rem;
    font-family: Helvetica, sans-serif;
    margin: 3rem;
}

.change{
    width: 6rem;
    height: 6rem;
}

.body {
    width:40rem;
    margin-top: 18rem;
    position: absolute;
}

.face {
    width: 10rem;
    height: 10rem;
    position: absolute;
    margin-top: 22rem;
    margin-left: -0.5rem;
}

#draw {
    border: 0.2rem dotted black;
    position: absolute;
    width: 40rem;
    height: 46rem;
    background-color: thistle;
    margin-top: 12rem;
}

.hidden {
    display:none;
}